<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FuckBlog测试首页</title>
    <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>发帖人</th>
                <th>文章名</th>
                <th>文章概况</th>
                <th>文章内容</th>
                <th>发布时间</th>
            </tr>
        </thead>
    </table>
</body>
</html>