<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FuckBlo新修改首页</title>
        <!-- Bootstrap Core CSS -->
    <link rel="shortcut icon" href="/static/images/fuck_favicon.ico">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/vno.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/tomorrow.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

</head>
<body>

<header class="panel-cover  panel-cover--collapsed" style="background-image: url('/static/images/background-cover2.jpg')">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="/#blog" title="FuckBlog 的主页" class="blog-button"><img src="/static/images/mylogo2.jpg" width="150" alt="FuckBlog logo" class="panel-cover__logo logo"></a>
        <h1 class="panel-cover__title panel-title"><a href="/blog" title="link to homepage for FuckBlog" class="blog-button">FuckBlog</a></h1>


        <hr class="panel-cover__divider">
        <p class="panel-cover__description">人生苦短 我用蟒蛇</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">


        <div class="navigation-wrapper">
          <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="/blog" title="访问博客" class="blog-button">博客</a></li>

                  <li class="navigation__item"><a href="http://project.onevcat.com" target="_blank" title="我的项目">项目</a></li>

                  <li class="navigation__item"><a href="http://about.onevcat.com/" target="_blank" title="了解更多关于我">关于</a></li>

                  <li class="navigation__item"><a href="//store.objccn.io/subscribe" target="_blank" title="邮件订阅本站">订阅</a></li>

              </ul>
            </nav>
          </div>

          <div><nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/slysly759" title="FuckBlog 的微博" target="_blank">
      <i class="social fa fa-weibo"></i>
      <span class="label">Weibo</span>
    </a>
  </li>



  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/FuckBlog" title="FuckBlog项目地址" target="_blank">
      <i class="social fa fa-github"></i>
      <span class="label">Github</span>
    </a>
  </li>



  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/FuckBlog" title="@onevcat" target="_blank">
      <i class="social fa fa-twitter"></i>
      <span class="label">Twitter</span>
    </a>
  </li>



  <!-- Google Plus -->
  <li class="navigation__item">
    <a href="https://plus.google.com/107108267983477358170" rel="author" title="Google+" target="_blank">
      <i class="social fa fa-google-plus-square"></i>
      <span class="label">Google Plus</span>
    </a>
  </li>


  <!-- RSS -->
  <li class="navigation__item">
    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
      <i class="social fa fa-rss"></i>
      <span class="label">RSS</span>
    </a>
  </li>


  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:slysly759@gmail.com" title="Contact me">
      <i class="social fa fa-envelope"></i>
      <span class="label">Email</span>
    </a>
  </li>


  </ul>
</nav>
</div>
        </div>

      </div>
    </div>

{#    注意这个屌丝是用来通过overload来虚化窗口的，不可以删除#}
    <div class="panel-cover--overlay cover-slate"></div>


  </div>


</header>
<div class="col-md-4">
</div>
<div class="col-md-8" id="article_list">
    
</div>


</body>
</html>