<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FuckBlog后台登陆">
    <meta name="author" content="">

    <title>FuckBlog - 后台登陆系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

    <script src="/static/js/sha1.min.js"></script>
</head>

<body>

    <div class="container">


        <div class="row">

            <div class="col-md-4 col-md-offset-4">
                <div class="admin-login" align="center" >
                    <img src="/static/images/FuckBlog.png" class="img-responsive" alt="后台登陆logo" >
                </div>
                <div class="alert alert-danger" id="warning-block">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" align="center">欢迎您的登陆</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" onsubmit="post_login()">
                            <fieldset>
                                <div class="form-group">
                                    <input id="email" class="form-control" onblur='check_email();' placeholder="E-mail" name="email" type="email" autofocus><span id='email-notice'></span>
                                </div>
                                <div class="form-group">
                                    <input id="password" class="form-control" onblur="check_pwd();" placeholder="Password" name="password" type="password" value=""><span id='password-notice'></span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="remember-flag" name="remember" type="checkbox" value="Remember Me">记住我
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" id="login" class="btn btn-lg btn-success btn-block" value="登陆">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#warning-block').hide();
        function get(id) {
            return document.getElementById(id);
        }
        function check_email() {
            var email = get('email').value;
            if (email == "") {
                get('email-notice').innerHTML=' 邮箱不能为空 ';
                get('email-notice').style.color = 'red';
                return false;
            }
            else {
                get('email-notice').innerHTML='';
                get('email-notice').style.color = 'green';
                return true
            }
        }
        function check_pwd() {
            var password=get('password').value;
            if (password==""){
                get('password-notice').innerHTML=' 密码也不能为空！ ';
                get('password-notice').style.color='red';
            }
            else{
                get('password-notice').innerHTML='';
                get('password-notice').style.color='green';
                return true
            }

            }
        function post_login(){
            if (check_email() && check_pwd()){
                    var new_email=(get('email').value).trim().toLowerCase();
                    var new_password=CryptoJS.SHA1(new_email+':'+(get('password').value)).toString();
                    var data={email:new_email,
                        password:new_password
                    };
                    console.log(data);
                    $.ajax({
                        method: 'post',
                        url: '/api/authenticate',
                        dataType: 'text',
                        // 用户名和密码
                        data: data,
                        success: function(resp){
                            if (JSON.parse(resp)["email"]) {
{#                                alert('登陆成功');#}
{#                                这里好奇怪用location.assign 跳转不了 我他妈也是日了狗#}
                                window.location="/"
                            }
                            else {
                                var error_message=JSON.parse(resp)["message"];
                                var p=document.createElement('p');
                                var list=get('warning-block');
                                p.id='warning-message';
                                p.innerHTML=error_message;
                                list.appendChild(p);
{#                                这里注意：这能创建然后插入 不可以修改#}
{#                                var p=get('warning-message').innerHTML;#}
{#                                console.log(p);#}

{#                                var s=get('warning-message').innerHTML;#}
{#                                console.log(s);#}
                                $('#warning-block').show();
{#                                get('#warning-message').innerHTML = '这只是做一个测试而已';#}
                                location.assign('/login')
                            }
                        }
                    });
        }
        }
    </script>
    <!-- jQuery -->


</body>

</html>
