<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FuckBlog-Just one little test</title>
    <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
{#    <script src="/static/js/test.js"></script>#}
    <script>


        $(document).ready(function() {

            $('#example').dataTable({
                "ajax": '/api/users',
                "columns": [
                    {data:'name'},
                    {data:'email'},
                    {data:'created_time'},
                    {data:'admin_flag'},
                    {data:'image'},
                    {data:'id'},
                    {data:'password'}
                ]
            })
        });


    </script>
</head>
<body>

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>名字</th>
                <th>邮箱</th>
                <th>注册时间</th>
                <th>是否admin</th>
                <th>图片</th>
                <th>id</th>
                <th>密码</th>
            </tr>
        </thead>
    </table>

</body>
</html>